* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Start main container style */
.mainContainer {
    width: 100vw;
    flex-direction: column;
}

/* End main container style */

/* Start navbar style */
.navbar {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4A90E2;
    padding: 1rem;
    position: fixed;
    top: 0
}

.navbarLogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbarLogo img {
    height: 100%;
}

.navbarLogo h2 {
    color: #FFFFFF;
    font-style: italic;
    font-size: 1.5rem;
}

.navbarMenu {
    color: #FFFFFF;
    gap: 1rem;
    font-size: 1rem;
}

.navbarLink a:link,
.navbarLink a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.navbarLink a:hover {
    color: #FF6F61;
}

/* End navbar style */

/* Start favorites flats container style */
.favoriteFlatsContainer {
    max-width: 100vw;
    width: 100%;
    padding: 2rem;
    background-color: #F8F8F8;
    box-shadow: 2px 4px 15px #FF6F61;
    position: absolute;
    top: 6rem;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 35rem);
    justify-content: space-evenly;
    gap: 2rem;
}

.favoriteFlatsDiv {
    width: 100%;
    max-width: 100vw;
    /* Hard coded to maximum length (3 linie chars title, 2 lines city name, 2 lines street name */
    height: 20rem;
    display: flex;
    gap: 1rem;
    background-color: #FAF0E6;
    border-radius: 0.2rem;
    box-shadow: 2px 4px 15px #FF6F61;
    overflow: hidden;
    font-size: 0.85rem;
    transition: all 0.5s;
}

.favoriteFlatsDiv:hover {
    transform: scale(1.05);
}

.flatPictureDiv {
    width: 50%;
}

.flatPicture {
    width: 100%;
    height: 100%;
}

.flatDetailsDiv {
    width: 50%;
    padding-top: 1rem;
    padding-right: 1rem;
    height: 100%;
    position: relative;
}

.flatDetailsDiv p {
    padding-bottom: 0.25rem;
}

h3 {
    padding-bottom: 0.5rem;
    overflow-wrap: break-word;
    word-break: auto;
}

.removeButton {
    background-color: #4A90E2;
    color: #FFFFFF;
    height: 1.5rem;
    width: fit-content;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 2px 4px 5px #FF6F61;
    position: absolute;
    bottom: 1rem;
    left: 0rem;
}

.removeButton:hover {
    background-color: #FF6F61;
    opacity: 0.8;
    transform: scale(1.1);
}

/* End favorites flats container style */

/* Start Media Query max width 1350px */
@media (max-width:1350px) {
    .favoriteFlatsContainer {
        grid-template-columns: repeat(auto-fill, 31rem);
    }
}

/* End Media Query max width 1350px */

/* Start Media Query max width 1050px */
@media (max-width:1050px) {
    .navbarLogo {
        width: 50%;
    }
}

/* End Media Query max width 1050px */

/* Start Media Query max width 850px */
@media (max-width:850px) {

    .navbar {
        flex-direction: column;
        gap: 1rem;
        height: 8rem;
    }

    .navbarLogo {
        width: unset;
    }

    .navbarLogo img {
        height: 3rem;
    }

    .navbarMenu {
        height: 2rem;
    }

    .favoriteFlatsContainer {
        top: 8rem;
        padding: 1rem;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .favoriteFlatsDiv {
        flex-direction: column;
        height: fit-content;
        position: static;
        padding-top: 0;
    }

    .favoriteFlatsDiv:hover {
        transform: none;
    }

    .flatPictureDiv {
        width: 100%;
    }

    .flatDetailsDiv {
        width: 100%;
        padding-top: 0;
        padding-left: 1rem;
    }

    .removeButton {
        position: static;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

/* End Media Query max width 850px */

/* Start Media Query max width 550px */
@media (max-width:550px) {
    * {
        font-size: 95%;
    }

    .navbar {
        height: 10rem;
    }

    .favoriteFlatsContainer {
        top: 11rem;
        gap: 0;
        padding: 0;
    }

    .favoriteFlatsDiv {
        border-radius: 0;
        border-bottom: 1px solid #A9A9A9;
        padding: 0;
    }

    .flatDetailsDiv {
        max-width: 100vw;
        padding: 0 0.5rem;
    }
}

/* End Media Query max width 550px */