* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}


body {
    padding: 1rem 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Start main container style */
.mainContainer {
    max-width: 1440px;
    width: 40vw;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #F8F8F8;
    box-shadow: 2px 4px 15px #FF6F61;
}

/* End main container style */

/* Start header style */
.header {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4A90E2;
    padding: 1rem;
}

.header img {
    height: 100%;
}

.header h2 {
    color: #FFFFFF;
    font-style: italic;
    font-size: 1.5rem;
}

/* End header style */

/* Start title form style */

.title {
    padding: 1rem 1rem 0;
    border-bottom: 1px solid #A9A9A9;
}

.title h3 {
    text-align: center;
    padding-bottom: 1rem;
}

/* End title form style */

/* Start reset form style */
.resetForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.resetFormDiv {
    display: flex;
    gap: 1rem
}

.resetFormDiv p {
    width: fit-content;
    height: 2rem;
    display: flex;
    align-items: center;
}

.resetFormDiv input {
    border: 1px solid #FF6F61;
    border-radius: 0.5rem;
    width: 15rem;
    height: 2rem;
    padding-left: 0.5rem;
}

.error {
    text-align: left;
    font-size: 0.75rem;
    height: 1rem;
    color: #A9A9A9
}

.resetFormAsterisk {
    font-size: 1rem;
    width: 100%;
}

.submitButton {
    background-color: #4A90E2;
    color: #FFFFFF;
    height: 2.5rem;
    width: 50%;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 2px 4px 5px #FF6F61;
    margin-bottom: 0.5rem;
}

.submitButtonHoverEffects {
    background-color: #FF6F61;
    opacity: 0.8;
    transform: scale(1.2);
}

/* End reset form style */

/* Start Media Query max width 1250px */
@media (max-width:1250px) {
    .mainContainer {
        width: 50vw;
    }
}

/* End Media Query max width 1250px */

/* Start Media Query max width 1000px */
@media (max-width:1000px) {
    .mainContainer {
        width: 60vw;
    }
}

/* End Media Query max width 1000px */

/* Start Media Query max width 850px */

@media (max-width:850px) {
    .mainContainer {
        width: 90vw;
    }

    .header {
        height: 6rem;
        justify-content: center;
    }

    .header h2 {
        font-size: 1.25rem;
    }

    .resetFormDiv {
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
    }

    .resetFormDiv p {
        height: 1rem;
    }

    .resetFormDiv p,
    .resetFormDiv input {
        width: 100%;
    }

    .resetFormDiv p:first-child {
        font-size: 0.85rem;
        height: 1rem;
        padding-bottom: 0rem;
    }

    .error {
        width: 100%;
        padding-left: 0.5rem;
        height: 1rem;
        padding-bottom: 0.5rem
    }

    .resetFormAsterisk {
        justify-content: left;
        font-size: 0.85rem;
    }

    .submitButton {
        width: 80%;
        height: 2.5rem;
    }
}

/* End Media Query max width 850px */

/* Start Media Query max width 550px */

@media (max-width:550px) {
    * {
        font-size: 95%;
    }

    .mainContainer {
        width: 100vw;
        border-radius: 0;
    }

    .header {
        height: 5rem;
        justify-content: center;
    }

    .header h2 {
        font-size: 1rem;
    }

    .resetFormAsterisk {
        font-size: 0.75rem;
    }
}

/* End Media Query max width 550px */